*~
\#*#
.idea/
*.komodoproject
.loadpath
.project
*.pyc
.pydevproject
*.pyo
*.config_oc.yaml
*.redcar*
.*.swp
.sass-cache
.rvmrc
.DS_Store
RoadMap
.vscode/*
venv/*
additional.yml
/Roadmap*
BACKUP/*
test-dump
self-signed-fake.pem
pytest.log
output.log
.mypy_cache/*