testing:
  enabled: True
  token: "{{ env.sites.site_2.token }}"
  sm_dict:
    services:
      serviceA:
        after: []
        allowedStandbyStateList:
        - up
        before: []
        CRname: serviceA
        name: serviceA
        namespace: serviceA-ns
        module: stateful
        parameters:
            healthzEndpoint: http://serviceA-site-2:8080/healthz
            serviceEndpoint: http://serviceA-site-2:8080/sitemanager
        sequence:
        - standby
        - active
        timeout: 5
      serviceB:
        after: [serviceA]
        allowedStandbyStateList:
        - up
        before: []
        CRname: serviceB
        name: serviceB
        namespace: serviceB-ns
        module: stateful
        parameters:
            healthzEndpoint: http://serviceB-site-2:8080/healthz
            serviceEndpoint: http://serviceB-site-2:8080/sitemanager
        sequence:
        - standby
        - active
        timeout: 5