token: "{{ env.sites.site_2.token }}"
testing:
  enabled: True
  sm_dict:
    services:
      stateful_service:
        after: []
        allowedStandbyStateList:
        - up
        before: []
        CRname: stateful_service
        name: stateful_service
        namespace: stateful_service-ns
        module: stateful
        parameters:
            healthzEndpoint: http://stateful_service-site-2:8080/healthz
            serviceEndpoint: http://stateful_service-site-2:8080/sitemanager
        sequence:
        - standby
        - active
        timeout: 5
      custom_module_service:
        after: []
        allowedStandbyStateList:
        - up
        before: []
        CRname: custom_module_service
        name: custom_module_service
        namespace: custom_module_service-ns
        module: custom_module
        parameters:
            healthzEndpoint: http://custom_module_service-site-2:8080/healthz
            serviceEndpoint: http://custom_module_service-site-2:8080/sitemanager
        sequence:
        - standby
        - active
        timeout: 5
      custom_module_service2:
        after: ['custom_module_service']
        allowedStandbyStateList:
        - up
        before: []
        CRname: custom_module_service2
        name: custom_module_service2
        namespace: custom_module_service-ns
        module: custom_module
        parameters:
            healthzEndpoint: http://custom_module_service2-site-2:8080/healthz
            serviceEndpoint: http://custom_module_service2-site-2:8080/sitemanager
        sequence:
        - standby
        - active
        timeout: 5
