testing:
  enabled: True
  token: "{{ env.sites.site_1.token }}"
  sm_dict:
    services:
      stateful_service:
        after: []
        allowedStandbyStateList:
        - up
        before: []
        namespace: stateful_service-ns
        module: stateful
        parameters:
            healthzEndpoint: http://stateful_service-site-1:8080/healthz
            ingressEndpoint: ""
            serviceEndpoint: http://stateful_service-site-1:8080/sitemanager
        sequence:
        - standby
        - active
        timeout: 5
      custom_module_service:
        after: []
        allowedStandbyStateList:
        - up
        before: []
        namespace: custom_module_service-ns
        module: custom_module
        parameters:
            healthzEndpoint: http://custom_module_service-site-1:8080/healthz
            ingressEndpoint: ""
            serviceEndpoint: http://custom_module_service-site-1:8080/sitemanager
        sequence:
        - standby
        - active
        timeout: 5
      custom_module_service2:
        after: ['custom_module_service']
        allowedStandbyStateList:
        - up
        before: []
        namespace: custom_module_service-ns
        module: custom_module
        parameters:
            healthzEndpoint: http://custom_module_service2-site-1:8080/healthz
            ingressEndpoint: ""
            serviceEndpoint: http://custom_module_service2-site-1:8080/sitemanager
        sequence:
        - standby
        - active
        timeout: 5
