---
sites:
  - name: site_1
    site-manager: http://localhost:{{ env.sites.site_1.exposed_ports.site_manager }}/sitemanager
    token: "{{ env.sites.site_1.token }}"
  - name: site_2
    site-manager: http://localhost:{{ env.sites.site_2.exposed_ports.site_manager }}/sitemanager
    token: "{{ env.sites.site_2.token }}"
sm-client:
  http_auth: True

flow:
  - custom_module: [standby,disable]
  - stateful:
  - custom_module: [active]
