version: '3.8'

networks:
  site-1:
    driver: bridge
  site-2:
    driver: bridge

services:
  # site-1
  serviceA-site-1:
    image: sm-dummy
    container_name: serviceA-site-1
    restart: unless-stopped
    environment:
      - SMA_DEBUG=True
      - SMA_INIT_MODE={{ 'active' if env.active_site == "site_1" else 'standby' }}
      - SMA_TIMEOUT={{ env.service_timeout }}
    expose:
      - 8080
    ports:
      - "{{ env.sites.site_1.exposed_ports.service.serviceASite1 }}:8080"
    networks:
      - site-1

  serviceB-site-1:
    image: sm-dummy
    container_name: serviceB-site-1
    restart: unless-stopped
    environment:
      - SMA_DEBUG=True
      - SMA_INIT_MODE={{ 'active' if env.active_site == "site_1" else 'standby' }}
      - SMA_TIMEOUT={{ env.service_timeout }}
    expose:
      - 8080
    ports:
      - "{{ env.sites.site_1.exposed_ports.service.serviceB }}:8080"
    networks:
      - site-1

  serviceC-site-1:
    image: sm-dummy
    container_name: serviceC-site-1
    restart: unless-stopped
    environment:
      - SMA_DEBUG=True
      - SMA_INIT_MODE={{ 'active' if env.active_site == "site_1" else 'standby' }}
      - SMA_TIMEOUT={{ env.service_timeout }}
    expose:
      - 8080
    ports:
      - "{{ env.sites.site_1.exposed_ports.service.serviceC }}:8080"
    networks:
      - site-1

  serviceD-site-1:
    image: sm-dummy
    container_name: serviceD-site-1
    restart: unless-stopped
    environment:
      - SMA_DEBUG=True
      - SMA_INIT_MODE={{ 'active' if env.active_site == "site_1" else 'standby' }}
      - SMA_TIMEOUT={{ env.service_timeout }}
    expose:
      - 8080
    ports:
      - "{{ env.sites.site_1.exposed_ports.service.serviceDSite1 }}:8080"
    networks:
      - site-1

  site-manager-site-1:
    image: site-manager
    container_name: site-manager-site-1
    restart: unless-stopped
    volumes:
      - {{ env.config_dir }}{{ env.os_path_sep }}site-manager-config.yaml:/val/config.yaml
    command:
      - "--bind=0.0.0.0:8080"
    environment:
      - SM_CONFIG_FILE=/val/config.yaml
      - SM_DEBUG=True
      - FRONT_HTTP_AUTH=True
      - SM_GET_REQUEST_TIMEOUT=1
      - SM_POST_REQUEST_TIMEOUT=1
    expose:
      - 8080
    ports:
      - "{{ env.sites.site_1.exposed_ports.site_manager }}:8080"
    networks:
      - site-1


  # site-2
  serviceA-site-2:
    image: sm-dummy
    container_name: serviceA-site-2
    restart: unless-stopped
    environment:
      - SMA_DEBUG=True
      - SMA_INIT_MODE={{ 'active' if env.active_site == "site_2" else 'standby' }}
      - SMA_TIMEOUT={{ env.service_timeout }}
    expose:
      - 8080
    ports:
      - "{{ env.sites.site_2.exposed_ports.service.serviceASite2 }}:8080"
    networks:
      - site-2

  serviceB-site-2:
    image: sm-dummy
    container_name: serviceB-site-2
    restart: unless-stopped
    environment:
      - SMA_DEBUG=True
      - SMA_INIT_MODE={{ 'active' if env.active_site == "site_2" else 'standby' }}
      - SMA_TIMEOUT={{ env.service_timeout }}
    expose:
      - 8080
    ports:
      - "{{ env.sites.site_2.exposed_ports.service.serviceB }}:8080"
    networks:
      - site-2

  serviceC-site-2:
    image: sm-dummy
    container_name: serviceC-site-2
    restart: unless-stopped
    environment:
      - SMA_DEBUG=True
      - SMA_INIT_MODE={{ 'active' if env.active_site == "site_2" else 'standby' }}
      - SMA_TIMEOUT={{ env.service_timeout }}
    expose:
      - 8080
    ports:
      - "{{ env.sites.site_2.exposed_ports.service.serviceC }}:8080"
    networks:
      - site-2

  serviceD-site-2:
    image: sm-dummy
    container_name: serviceD-site-2
    restart: unless-stopped
    environment:
      - SMA_DEBUG=True
      - SMA_INIT_MODE={{ 'active' if env.active_site == "site_2" else 'standby' }}
      - SMA_TIMEOUT={{ env.service_timeout }}
    expose:
      - 8080
    ports:
      - "{{ env.sites.site_2.exposed_ports.service.serviceDSite2 }}:8080"
    networks:
      - site-2

  site-manager-site-2:
    image: site-manager
    container_name: site-manager-site-2
    restart: unless-stopped
    volumes:
      - {{ env.config_dir }}{{ env.os_path_sep }}site-manager-config-2.yaml:/val/config.yaml
    command:
      - "--bind=0.0.0.0:8080"
    environment:
      - SM_CONFIG_FILE=/val/config.yaml
      - SM_DEBUG=True
      - FRONT_HTTP_AUTH=True
      - SM_GET_REQUEST_TIMEOUT=1
      - SM_POST_REQUEST_TIMEOUT=1
    expose:
      - 8080
    ports:
      - "{{ env.sites.site_2.exposed_ports.site_manager }}:8080"
    networks:
      - site-2
