testing:
  enabled: True
  token: "{{ env.sites.site_2.token }}"
  sm_dict:
    services:
      serviceASite2:
        after: []
        allowedStandbyStateList:
        - up
        before: []
        namespace: serviceA-ns
        module: stateful
        parameters:
            healthzEndpoint: http://serviceA-site-2:8080/healthz
            ingressEndpoint: ""
            serviceEndpoint: http://serviceA-site-2:8080/sitemanager
        sequence:
        - standby
        - active
        timeout: 5
      serviceB:
        after: [serviceASite2]
        allowedStandbyStateList:
        - up
        before: []
        namespace: serviceB-ns
        module: stateful
        parameters:
            healthzEndpoint: http://serviceB-site-2:8080/healthz
            ingressEndpoint: ""
            serviceEndpoint: http://serviceB-site-2:8080/sitemanager
        sequence:
        - standby
        - active
        timeout: 5
      serviceC:
        after: [ ]
        allowedStandbyStateList:
          - up
        before: [ ]
        namespace: serviceC-ns
        module: custom_module
        parameters:
          healthzEndpoint: http://serviceC-site-2:8080/healthz
          ingressEndpoint: ""
          serviceEndpoint: http://serviceC-site-2:8080/sitemanager
        sequence:
          - standby
          - active
        timeout: 5
      serviceDSite2:
        after: [ serviceC]
        allowedStandbyStateList:
          - up
        before: [ ]
        namespace: serviceD-ns
        module: custom_module
        parameters:
          healthzEndpoint: http://serviceD-site-2:8080/healthz
          ingressEndpoint: ""
          serviceEndpoint: http://serviceD-site-2:8080/sitemanager
        sequence:
          - standby
          - active
        timeout: 5