testing:
  enabled: True
  token: "{{ env.sites.site_1.token }}"
  sm_dict:
    services:
      serviceASite1:
        after: []
        allowedStandbyStateList:
        - up
        CRname: serviceASite1
        name: serviceASite1
        before: []
        namespace: serviceA-ns
        module: stateful
        parameters:
            healthzEndpoint: http://serviceA-site-1:8080/healthz
            serviceEndpoint: http://serviceA-site-1:8080/sitemanager
        sequence:
        - standby
        - active
        timeout: 5
      serviceB:
        after: [serviceASite1]
        allowedStandbyStateList:
        - up
        CRname: serviceB
        name: serviceB
        before: []
        namespace: serviceB-ns
        module: stateful
        parameters:
            healthzEndpoint: http://serviceB-site-1:8080/healthz
            serviceEndpoint: http://serviceB-site-1:8080/sitemanager
        sequence:
        - standby
        - active
        timeout: 5
      serviceC:
        after: []
        allowedStandbyStateList:
        - up
        before: []
        CRname: serviceC
        name: serviceC
        namespace: serviceC-ns
        module: custom_module
        parameters:
            healthzEndpoint: http://serviceC-site-1:8080/healthz
            serviceEndpoint: http://serviceC-site-1:8080/sitemanager
        sequence:
        - standby
        - active
        timeout: 5
      serviceDSite1:
        after: [serviceC]
        allowedStandbyStateList:
        - up
        before: []
        CRname: serviceD
        name: serviceD
        namespace: serviceD-ns
        module: custom_module
        parameters:
            healthzEndpoint: http://serviceD-site-1:8080/healthz
            serviceEndpoint: http://serviceD-site-1:8080/sitemanager
        sequence:
        - standby
        - active
        timeout: 5